body {
	background-color: #eeeeee;
}
p {
	margin: 0px;
	display: inline-block;
	vertical-align: middle;
}
textarea {
	vertical-align: middle;
}
div {
	display: inline-block;
}
pre {
	margin: 2px;
	display: inline-block;
}
div#instructions {
	max-width: 1000px;
}
textarea.mathInput {
	height: 18px;
	width: 400px;
	resize: horizontal;
	max-width: 750px;
}
div#calcButton {
	background-color: #ff9999;
	text-align: center;
	padding: 10px;
}